<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.your_package_name">

    <!-- Agrega el permiso de acceso a internet si aún no está presente -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Agrega el permiso de ubicación si tu aplicación lo necesita -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:label="Your App Name"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Agrega la clave de la API de Google Maps dentro de la etiqueta <application> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuQGyQeS6BbijyBUKbcrvB4yquvLzgVjI" />

        <activity
            android:name=".MainActivity"
            android:exported="true" 
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- No elimines la siguiente meta-data. Es utilizada por la herramienta Flutter para generar GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
